In [1]:
%pip install emot

Requirement already satisfied: emot in c:\users\dave\appdata\local\programs\python\python39\lib\site-packages (3.1)
Note: you may need to restart the kernel to use updated packages.

WARNING: You are using pip version 21.2.4; however, version 23.1.2 is available.
You should consider upgrading via the 'c:\Users\Dave\AppData\Local\Programs\Python\Python39\python.exe -m pip install --upgrade pip' command.

In [2]:
import pandas as pd
import numpy as np
import re
import nltk
from emot.emo_unicode import UNICODE_EMOJI, EMOTICONS_EMO

In [3]:
#Read csv file and name columns
data = pd.read_csv("../Data/Twitter.csv", header=None, encoding='latin-1')
data.columns = ['sentiment', 'id', 'date', 'query', 'user', 'tweet']

data.head()

,sentiment,id,date,query,user,tweet
0,0,1467810369,Mon Apr 06 22:19:45 PDT 2009,NO_QUERY,_TheSpecialOne_,"@switchfoot http://twitpic.com/2y1zl - Awww, t..."
1,0,1467810672,Mon Apr 06 22:19:49 PDT 2009,NO_QUERY,scotthamilton,is upset that he can't update his Facebook by ...
2,0,1467810917,Mon Apr 06 22:19:53 PDT 2009,NO_QUERY,mattycus,@Kenichan I dived many times for the ball. Man...
3,0,1467811184,Mon Apr 06 22:19:57 PDT 2009,NO_QUERY,ElleCTF,my whole body feels itchy and like its on fire
4,0,1467811193,Mon Apr 06 22:19:57 PDT 2009,NO_QUERY,Karoli,"@nationwideclass no, it's not behaving at all...."

In [4]:
#Drop the column 'query', as it only contains 'NO_QUERY'
data = data.drop(columns= 'query')

#Replace the 4 for a positive sentiment with a 1 for easier understanding (there are no numbers between 0 and 4)
data['sentiment'] = data['sentiment'].replace(4, 1)
#0 = negative, 1 = positive

data.head()

,sentiment,id,date,user,tweet
0,0,1467810369,Mon Apr 06 22:19:45 PDT 2009,_TheSpecialOne_,"@switchfoot http://twitpic.com/2y1zl - Awww, t..."
1,0,1467810672,Mon Apr 06 22:19:49 PDT 2009,scotthamilton,is upset that he can't update his Facebook by ...
2,0,1467810917,Mon Apr 06 22:19:53 PDT 2009,mattycus,@Kenichan I dived many times for the ball. Man...
3,0,1467811184,Mon Apr 06 22:19:57 PDT 2009,ElleCTF,my whole body feels itchy and like its on fire
4,0,1467811193,Mon Apr 06 22:19:57 PDT 2009,Karoli,"@nationwideclass no, it's not behaving at all...."

In [5]:
#Convert Date and time column into datetime format (By stripping day, month, year and time manually as strings and passing them into datetime function)
data['date_new'] = data['date'].str[8:10] + "/" + data['date'].str[4:7] + "/" + data['date'].str[24:28] + ", " + data['date'].str[11:19]
data['date_new'] = pd.to_datetime(data['date_new'], format="%d/%b/%Y, %H:%M:%S")

#extract DateTime information from column
data['year'] = pd.DatetimeIndex(data['date_new']).year
data['month'] = pd.DatetimeIndex(data['date_new']).month

#Weekday where 0 = Monday and 6 = Sunday
data['weekday'] = pd.DatetimeIndex(data['date_new']).weekday
data['time'] = pd.DatetimeIndex(data['date_new']).time
data['hour'] = pd.DatetimeIndex(data['date_new']).hour

# Extract Timezones
data['date'] = data['date'].astype('string')
data['timezone'] = data['date'].str[20:23]
data.head()

##sort time into groups
#create list of conditions (time groups)
conditions = [
    (data['hour'] < 4),
    (data['hour'] >= 4) & (data['hour'] < 8),
    (data['hour'] >= 8) & (data['hour'] < 12),
    (data['hour'] >= 12) & (data['hour'] < 16),
    (data['hour'] >= 16) & (data['hour'] < 20),
    (data['hour'] >= 20)
    ]

# create a list of the values we want to assign for each condition
values = ['0-4', '4-8', '8-12', '12-16', '16-20', '20-24']

# create a new column and use np.select to assign values to it using our lists as arguments
data['time_group'] = np.select(conditions, values)

#drop old date column
data.drop(['date', 'timezone'], axis = 1, inplace=True)
data.rename(columns={'date_new': 'date'}, inplace=True)

data.head()

,sentiment,id,user,tweet,date,year,month,weekday,time,hour,time_group
0,0,1467810369,_TheSpecialOne_,"@switchfoot http://twitpic.com/2y1zl - Awww, t...",2009-04-06 22:19:45,2009,4,0,22:19:45,22,20-24
1,0,1467810672,scotthamilton,is upset that he can't update his Facebook by ...,2009-04-06 22:19:49,2009,4,0,22:19:49,22,20-24
2,0,1467810917,mattycus,@Kenichan I dived many times for the ball. Man...,2009-04-06 22:19:53,2009,4,0,22:19:53,22,20-24
3,0,1467811184,ElleCTF,my whole body feels itchy and like its on fire,2009-04-06 22:19:57,2009,4,0,22:19:57,22,20-24
4,0,1467811193,Karoli,"@nationwideclass no, it's not behaving at all....",2009-04-06 22:19:57,2009,4,0,22:19:57,22,20-24

In [6]:
#Count the number of words per tweet
data['word_count'] = data['tweet'].str.split().str.len()

#Check, if certain special characters occur in a tweet (one-hot encoded)
data['dot_dot_dot'] = data['tweet'].str.contains('\.\.\.')
data['exclamation_mark'] = data['tweet'].str.contains('!')
data['question_mark'] = data['tweet'].str.contains('\?')
data['at_symbol'] = data['tweet'].str.contains('\@')
data['link'] = data['tweet'].str.contains('http')
data['money'] = data['tweet'].str.contains('\$|\€|\£')
data['paragraph_symbol'] = data['tweet'].str.contains('\§')
data['hashtag'] = data['tweet'].str.contains('#')

data.head()

,sentiment,id,user,tweet,date,year,month,weekday,time,hour,time_group,word_count,dot_dot_dot,exclamation_mark,question_mark,at_symbol,link,money,paragraph_symbol,hashtag
0,0,1467810369,_TheSpecialOne_,"@switchfoot http://twitpic.com/2y1zl - Awww, t...",2009-04-06 22:19:45,2009,4,0,22:19:45,22,20-24,19,False,False,False,True,True,False,False,False
1,0,1467810672,scotthamilton,is upset that he can't update his Facebook by ...,2009-04-06 22:19:49,2009,4,0,22:19:49,22,20-24,21,True,True,False,False,False,False,False,False
2,0,1467810917,mattycus,@Kenichan I dived many times for the ball. Man...,2009-04-06 22:19:53,2009,4,0,22:19:53,22,20-24,18,False,False,False,True,False,False,False,False
3,0,1467811184,ElleCTF,my whole body feels itchy and like its on fire,2009-04-06 22:19:57,2009,4,0,22:19:57,22,20-24,10,False,False,False,False,False,False,False,False
4,0,1467811193,Karoli,"@nationwideclass no, it's not behaving at all....",2009-04-06 22:19:57,2009,4,0,22:19:57,22,20-24,21,False,False,True,True,False,False,False,False

In [7]:
#nltk.download('stopwords')
stopword = nltk.corpus.stopwords.words('english') #Create a list of english stopwords from nltk
stopword

['i',
 'me',
 'my',
 'myself',
 'we',
 'our',
 'ours',
 'ourselves',
 'you',
 "you're",
 "you've",
 "you'll",
 "you'd",
 'your',
 'yours',
 'yourself',
 'yourselves',
 'he',
 'him',
 'his',
 'himself',
 'she',
 "she's",
 'her',
 'hers',
 'herself',
 'it',
 "it's",
 'its',
 'itself',
 'they',
 'them',
 'their',
 'theirs',
 'themselves',
 'what',
 'which',
 'who',
 'whom',
 'this',
 'that',
 "that'll",
 'these',
 'those',
 'am',
 'is',
 'are',
 'was',
 'were',
 'be',
 'been',
 'being',
 'have',
 'has',
 'had',
 'having',
 'do',
 'does',
 'did',
 'doing',
 'a',
 'an',
 'the',
 'and',
 'but',
 'if',
 'or',
 'because',
 'as',
 'until',
 'while',
 'of',
 'at',
 'by',
 'for',
 'with',
 'about',
 'against',
 'between',
 'into',
 'through',
 'during',
 'before',
 'after',
 'above',
 'below',
 'to',
 'from',
 'up',
 'down',
 'in',
 'out',
 'on',
 'off',
 'over',
 'under',
 'again',
 'further',
 'then',
 'once',
 'here',
 'there',
 'when',
 'where',
 'why',
 'how',
 'all',
 'any',
 'both',
 'each',
 'few',
 'more',
 'most',
 'other',
 'some',
 'such',
 'no',
 'nor',
 'not',
 'only',
 'own',
 'same',
 'so',
 'than',
 'too',
 'very',
 's',
 't',
 'can',
 'will',
 'just',
 'don',
 "don't",
 'should',
 "should've",
 'now',
 'd',
 'll',
 'm',
 'o',
 're',
 've',
 'y',
 'ain',
 'aren',
 "aren't",
 'couldn',
 "couldn't",
 'didn',
 "didn't",
 'doesn',
 "doesn't",
 'hadn',
 "hadn't",
 'hasn',
 "hasn't",
 'haven',
 "haven't",
 'isn',
 "isn't",
 'ma',
 'mightn',
 "mightn't",
 'mustn',
 "mustn't",
 'needn',
 "needn't",
 'shan',
 "shan't",
 'shouldn',
 "shouldn't",
 'wasn',
 "wasn't",
 'weren',
 "weren't",
 'won',
 "won't",
 'wouldn',
 "wouldn't"]

In [8]:
stopword_clean = [word.replace("'", "") for word in stopword]

In [9]:
#Define the typical pattern of links ('https://', 'http://', 'www.'), tags ('@') and hashtags ('#')
url_pattern_1 = r'https?://\S+'
url_pattern_2 = r'www\.\S+'
tag_pattern = r'@\S+'
hashtag_pattern = r'#\S+'

#Add a new column for the tokenized tweet and remove all links, tags and hashtags from the tweets
data.insert(4, 'tweet_tokenized', data['tweet'].apply(lambda x: re.sub(url_pattern_1, '', x)))
data['tweet_tokenized'] = data['tweet_tokenized'].apply(lambda x: re.sub(url_pattern_2, '', x))
data['tweet_tokenized'] = data['tweet_tokenized'].apply(lambda x: re.sub(tag_pattern, '', x))
data['tweet_tokenized'] = data['tweet_tokenized'].apply(lambda x: re.sub(hashtag_pattern, '', x))

In [10]:
print(EMOTICONS_EMO)

{':‑)': 'Happy face or smiley', ':-))': 'Very happy', ':-)))': 'Very very Happy face or smiley', ':)': 'Happy face or smiley', ':))': 'Very Happy face or smiley', ':)))': 'Very very Happy face or smiley', ':-]': 'Happy face or smiley', ':]': 'Happy face or smiley', ':-3': 'Happy face smiley', ':3': 'Happy face smiley', ':->': 'Happy face smiley', ':>': 'Happy face smiley', '8-)': 'Happy face smiley', ':o)': 'Happy face smiley', ':-}': 'Happy face smiley', ':}': 'Happy face smiley', ':-)': 'Happy face smiley', ':c)': 'Happy face smiley', ':^)': 'Happy face smiley', '=]': 'Happy face smiley', '=)': 'Happy face smiley', ':‑D': 'Laughing, big grin or laugh with glasses', ':D': 'Laughing, big grin or laugh with glasses', '8‑D': 'Laughing, big grin or laugh with glasses', '8D': 'Laughing, big grin or laugh with glasses', 'X‑D': 'Laughing, big grin or laugh with glasses', 'XD': 'Laughing, big grin or laugh with glasses', '=D': 'Laughing, big grin or laugh with glasses', '=3': 'Laughing, big grin or laugh with glasses', 'B^D': 'Laughing, big grin or laugh with glasses', ':-(': 'Frown, sad, andry or pouting', ':‑(': 'Frown, sad, andry or pouting', ':(': 'Frown, sad, andry or pouting', ':‑c': 'Frown, sad, andry or pouting', ':c': 'Frown, sad, andry or pouting', ':‑<': 'Frown, sad, andry or pouting', ':<': 'Frown, sad, andry or pouting', ':‑[': 'Frown, sad, andry or pouting', ':[': 'Frown, sad, andry or pouting', ':-||': 'Frown, sad, andry or pouting', '>:[': 'Frown, sad, andry or pouting', ':{': 'Frown, sad, andry or pouting', ':@': 'Frown, sad, andry or pouting', '>:(': 'Frown, sad, andry or pouting', ":'‑(": 'Crying', ":'(": 'Crying', ":'‑)": 'Tears of happiness', ":')": 'Tears of happiness', "D‑':": 'Horror', 'D:<': 'Disgust', 'D:': 'Sadness', 'D8': 'Great dismay', 'D;': 'Great dismay', 'D=': 'Great dismay', 'DX': 'Great dismay', ':‑O': 'Surprise', ':O': 'Surprise', ':‑o': 'Surprise', ':o': 'Surprise', ':-0': 'Shock', '8‑0': 'Yawn', '>:O': 'Yawn', ':-*': 'Kiss', ':*': 'Kiss', ':X': 'Kiss', ';‑)': 'Wink or smirk', ';)': 'Wink or smirk', '*-)': 'Wink or smirk', '*)': 'Wink or smirk', ';‑]': 'Wink or smirk', ';]': 'Wink or smirk', ';^)': 'Wink or smirk', ':‑,': 'Wink or smirk', ';D': 'Wink or smirk', ':‑P': 'Tongue sticking out, cheeky, playful or blowing a raspberry', ':P': 'Tongue sticking out, cheeky, playful or blowing a raspberry', 'X‑P': 'Tongue sticking out, cheeky, playful or blowing a raspberry', 'XP': 'Tongue sticking out, cheeky, playful or blowing a raspberry', ':‑Þ': 'Tongue sticking out, cheeky, playful or blowing a raspberry', ':Þ': 'Tongue sticking out, cheeky, playful or blowing a raspberry', ':b': 'Tongue sticking out, cheeky, playful or blowing a raspberry', 'd:': 'Tongue sticking out, cheeky, playful or blowing a raspberry', '=p': 'Tongue sticking out, cheeky, playful or blowing a raspberry', '>:P': 'Tongue sticking out, cheeky, playful or blowing a raspberry', ':‑/': 'Skeptical, annoyed, undecided, uneasy or hesitant', ':/': 'Skeptical, annoyed, undecided, uneasy or hesitant', ':-[.]': 'Skeptical, annoyed, undecided, uneasy or hesitant', '>:[(\\)]': 'Skeptical, annoyed, undecided, uneasy or hesitant', '>:/': 'Skeptical, annoyed, undecided, uneasy or hesitant', ':[(\\)]': 'Skeptical, annoyed, undecided, uneasy or hesitant', '=/': 'Skeptical, annoyed, undecided, uneasy or hesitant', '=[(\\)]': 'Skeptical, annoyed, undecided, uneasy or hesitant', ':L': 'Skeptical, annoyed, undecided, uneasy or hesitant', '=L': 'Skeptical, annoyed, undecided, uneasy or hesitant', ':S': 'Skeptical, annoyed, undecided, uneasy or hesitant', ':‑|': 'Straight face', ':|': 'Straight face', ':$': 'Embarrassed or blushing', ':‑x': 'Sealed lips or wearing braces or tongue-tied', ':x': 'Sealed lips or wearing braces or tongue-tied', ':‑#': 'Sealed lips or wearing braces or tongue-tied', ':#': 'Sealed lips or wearing braces or tongue-tied', ':‑&': 'Sealed lips or wearing braces or tongue-tied', ':&': 'Sealed lips or wearing braces or tongue-tied', 'O:‑)': 'Angel, saint or innocent', 'O:)': 'Angel, saint or innocent', '0:‑3': 'Angel, saint or innocent', '0:3': 'Angel, saint or innocent', '0:‑)': 'Angel, saint or innocent', '0:)': 'Angel, saint or innocent', ':‑b': 'Tongue sticking out, cheeky, playful or blowing a raspberry', '0;^)': 'Angel, saint or innocent', '>:‑)': 'Evil or devilish', '>:)': 'Evil or devilish', '}:‑)': 'Evil or devilish', '}:)': 'Evil or devilish', '3:‑)': 'Evil or devilish', '3:)': 'Evil or devilish', '>;)': 'Evil or devilish', '|;‑)': 'Cool', '|‑O': 'Bored', ':‑J': 'Tongue-in-cheek', '#‑)': 'Party all night', '%‑)': 'Drunk or confused', '%)': 'Drunk or confused', ':-###..': 'Being sick', ':###..': 'Being sick', '<:‑|': 'Dump', '(>_<)': 'Troubled', '(>_<)>': 'Troubled', "(';')": 'Baby', '(^^>``': 'Nervous or Embarrassed or Troubled or Shy or Sweat drop', '(^_^;)': 'Nervous or Embarrassed or Troubled or Shy or Sweat drop', '(-_-;)': 'Nervous or Embarrassed or Troubled or Shy or Sweat drop', '(~_~;) (・.・;)': 'Nervous or Embarrassed or Troubled or Shy or Sweat drop', '(-_-)zzz': 'Sleeping', '(^_-)': 'Wink', '((+_+))': 'Confused', '(+o+)': 'Confused', '(o|o)': 'Ultraman', '^_^': 'Joyful', '(^_^)/': 'Joyful', '(^O^)／': 'Joyful', '(^o^)／': 'Joyful', '(__)': 'Kowtow as a sign of respect, or dogeza for apology', '_(._.)_': 'Kowtow as a sign of respect, or dogeza for apology', '<(_ _)>': 'Kowtow as a sign of respect, or dogeza for apology', '<m(__)m>': 'Kowtow as a sign of respect, or dogeza for apology', 'm(__)m': 'Kowtow as a sign of respect, or dogeza for apology', 'm(_ _)m': 'Kowtow as a sign of respect, or dogeza for apology', "('_')": 'Sad or Crying', '(/_;)': 'Sad or Crying', '(T_T) (;_;)': 'Sad or Crying', '(;_;': 'Sad of Crying', '(;_:)': 'Sad or Crying', '(;O;)': 'Sad or Crying', '(:_;)': 'Sad or Crying', '(ToT)': 'Sad or Crying', ';_;': 'Sad or Crying', ';-;': 'Sad or Crying', ';n;': 'Sad or Crying', ';;': 'Sad or Crying', 'Q.Q': 'Sad or Crying', 'T.T': 'Sad or Crying', 'QQ': 'Sad or Crying', 'Q_Q': 'Sad or Crying', '(-.-)': 'Shame', '(-_-)': 'Shame', '(一一)': 'Shame', '(；一_一)': 'Shame', '(=_=)': 'Tired', '(=^·^=)': 'cat', '(=^··^=)': 'cat', '=_^= ': 'cat', '(..)': 'Looking down', '(._.)': 'Looking down', '^m^': 'Giggling with hand covering mouth', '(・・?': 'Confusion', '(?_?)': 'Confusion', '>^_^<': 'Normal Laugh', '<^!^>': 'Normal Laugh', '^/^': 'Normal Laugh', '（*^_^*）': 'Normal Laugh', '(^<^) (^.^)': 'Normal Laugh', '(^^)': 'Normal Laugh', '(^.^)': 'Normal Laugh', '(^_^.)': 'Normal Laugh', '(^_^)': 'Normal Laugh', '(^J^)': 'Normal Laugh', '(*^.^*)': 'Normal Laugh', '(^—^）': 'Normal Laugh', '(#^.^#)': 'Normal Laugh', '（^—^）': 'Waving', '(;_;)/~~~': 'Waving', '(^.^)/~~~': 'Waving', '(-_-)/~~~ ($··)/~~~': 'Waving', '(T_T)/~~~': 'Waving', '(ToT)/~~~': 'Waving', '(*^0^*)': 'Excited', '(*_*)': 'Amazed', '(*_*;': 'Amazed', '(+_+) (@_@)': 'Amazed', '(*^^)v': 'Laughing,Cheerful', '(^_^)v': 'Laughing,Cheerful', '((d[-_-]b))': 'Headphones,Listening to music', '(-"-)': 'Worried', '(ーー;)': 'Worried', '(^0_0^)': 'Eyeglasses', '(＾ｖ＾)': 'Happy', '(＾ｕ＾)': 'Happy', '(^)o(^)': 'Happy', '(^O^)': 'Happy', '(^o^)': 'Happy', ')^o^(': 'Happy', ':O o_O': 'Surprised', 'o_0': 'Surprised', 'o.O': 'Surpised', '(o.o)': 'Surprised', 'oO': 'Surprised', '(*￣m￣)': 'Dissatisfied', '(‘A`)': 'Snubbed or Deflated'}

In [11]:
#Handling Emojis
# Function for converting emojis into word
def convert_emoticons(text):
    for emot in EMOTICONS_EMO:
        text = text.replace(emot, "".join(EMOTICONS_EMO[emot].replace(",","").replace(":","").split()))
    return text

# Apply Formula to tweets
data['tweet_tokenized'] = data['tweet_tokenized'].apply(lambda x: convert_emoticons(x))
data.head(6)

,sentiment,id,user,tweet,tweet_tokenized,date,year,month,weekday,time,...,time_group,word_count,dot_dot_dot,exclamation_mark,question_mark,at_symbol,link,money,paragraph_symbol,hashtag
0,0,1467810369,_TheSpecialOne_,"@switchfoot http://twitpic.com/2y1zl - Awww, t...","- Awww, that's a bummer. You shoulda got Da...",2009-04-06 22:19:45,2009,4,0,22:19:45,...,20-24,19,False,False,False,True,True,False,False,False
1,0,1467810672,scotthamilton,is upset that he can't update his Facebook by ...,is upset that he can't update his Facebook by ...,2009-04-06 22:19:49,2009,4,0,22:19:49,...,20-24,21,True,True,False,False,False,False,False,False
2,0,1467810917,mattycus,@Kenichan I dived many times for the ball. Man...,I dived many times for the ball. Managed to s...,2009-04-06 22:19:53,2009,4,0,22:19:53,...,20-24,18,False,False,False,True,False,False,False,False
3,0,1467811184,ElleCTF,my whole body feels itchy and like its on fire,my whole body feels itchy and like its on fire,2009-04-06 22:19:57,2009,4,0,22:19:57,...,20-24,10,False,False,False,False,False,False,False,False
4,0,1467811193,Karoli,"@nationwideclass no, it's not behaving at all....","no, it's not behaving at all. i'm mad. why am...",2009-04-06 22:19:57,2009,4,0,22:19:57,...,20-24,21,False,False,True,True,False,False,False,False
5,0,1467811372,joy_wolf,@Kwesidei not the whole crew,not the whole crew,2009-04-06 22:20:00,2009,4,0,22:20:00,...,20-24,5,False,False,False,True,False,False,False,False

In [12]:
#Remove all punctuation from the tweets
data['tweet_tokenized'] = data['tweet_tokenized'].str.replace('[^\w\s]', '')
data['tweet_tokenized'] = data['tweet_tokenized'].str.replace('_', '')

#Remove all whitespaces from the beginning or end of the tweets
data['tweet_tokenized'] = data['tweet_tokenized'].str.strip()

#Set all characters to lowercase
data['tweet_tokenized'] = data['tweet_tokenized'].apply(lambda x: x.lower())

#Remove all numbers
data['tweet_tokenized'] = data['tweet_tokenized'].str.replace('\d+', '')

data.head()

C:\Users\Dave\AppData\Local\Temp\ipykernel_25776\3552357475.py:2: FutureWarning: The default value of regex will change from True to False in a future version.
  data['tweet_tokenized'] = data['tweet_tokenized'].str.replace('[^\w\s]', '')
C:\Users\Dave\AppData\Local\Temp\ipykernel_25776\3552357475.py:12: FutureWarning: The default value of regex will change from True to False in a future version.
  data['tweet_tokenized'] = data['tweet_tokenized'].str.replace('\d+', '')

,sentiment,id,user,tweet,tweet_tokenized,date,year,month,weekday,time,...,time_group,word_count,dot_dot_dot,exclamation_mark,question_mark,at_symbol,link,money,paragraph_symbol,hashtag
0,0,1467810369,_TheSpecialOne_,"@switchfoot http://twitpic.com/2y1zl - Awww, t...",awww thats a bummer you shoulda got david car...,2009-04-06 22:19:45,2009,4,0,22:19:45,...,20-24,19,False,False,False,True,True,False,False,False
1,0,1467810672,scotthamilton,is upset that he can't update his Facebook by ...,is upset that he cant update his facebook by t...,2009-04-06 22:19:49,2009,4,0,22:19:49,...,20-24,21,True,True,False,False,False,False,False,False
2,0,1467810917,mattycus,@Kenichan I dived many times for the ball. Man...,i dived many times for the ball managed to sav...,2009-04-06 22:19:53,2009,4,0,22:19:53,...,20-24,18,False,False,False,True,False,False,False,False
3,0,1467811184,ElleCTF,my whole body feels itchy and like its on fire,my whole body feels itchy and like its on fire,2009-04-06 22:19:57,2009,4,0,22:19:57,...,20-24,10,False,False,False,False,False,False,False,False
4,0,1467811193,Karoli,"@nationwideclass no, it's not behaving at all....",no its not behaving at all im mad why am i her...,2009-04-06 22:19:57,2009,4,0,22:19:57,...,20-24,21,False,False,True,True,False,False,False,False

In [13]:
#Tokenize sentences based on non-alphanumeric characters
def tokenize(text):
    tokens = re.split('\W+', text)
    return tokens

data['tweet_tokenized'] = data['tweet_tokenized'].apply(lambda x: tokenize(x))

data.head()

,sentiment,id,user,tweet,tweet_tokenized,date,year,month,weekday,time,...,time_group,word_count,dot_dot_dot,exclamation_mark,question_mark,at_symbol,link,money,paragraph_symbol,hashtag
0,0,1467810369,_TheSpecialOne_,"@switchfoot http://twitpic.com/2y1zl - Awww, t...","[awww, thats, a, bummer, you, shoulda, got, da...",2009-04-06 22:19:45,2009,4,0,22:19:45,...,20-24,19,False,False,False,True,True,False,False,False
1,0,1467810672,scotthamilton,is upset that he can't update his Facebook by ...,"[is, upset, that, he, cant, update, his, faceb...",2009-04-06 22:19:49,2009,4,0,22:19:49,...,20-24,21,True,True,False,False,False,False,False,False
2,0,1467810917,mattycus,@Kenichan I dived many times for the ball. Man...,"[i, dived, many, times, for, the, ball, manage...",2009-04-06 22:19:53,2009,4,0,22:19:53,...,20-24,18,False,False,False,True,False,False,False,False
3,0,1467811184,ElleCTF,my whole body feels itchy and like its on fire,"[my, whole, body, feels, itchy, and, like, its...",2009-04-06 22:19:57,2009,4,0,22:19:57,...,20-24,10,False,False,False,False,False,False,False,False
4,0,1467811193,Karoli,"@nationwideclass no, it's not behaving at all....","[no, its, not, behaving, at, all, im, mad, why...",2009-04-06 22:19:57,2009,4,0,22:19:57,...,20-24,21,False,False,True,True,False,False,False,False

In [14]:
def remove_stopwords(tokenized_list): #Function to remove all stopword from our list of tokenized tweets
    text = [word for word in tokenized_list if word not in stopword_clean] #Write each word from our tokenized list into a new list, if it is not in the stopword list
    return text

#Create new column with tokenized tweets without stopwords
data['tweet_tokenized'] = data['tweet_tokenized'].apply(lambda x: remove_stopwords(x)) 
data.head()

,sentiment,id,user,tweet,tweet_tokenized,date,year,month,weekday,time,...,time_group,word_count,dot_dot_dot,exclamation_mark,question_mark,at_symbol,link,money,paragraph_symbol,hashtag
0,0,1467810369,_TheSpecialOne_,"@switchfoot http://twitpic.com/2y1zl - Awww, t...","[awww, thats, bummer, shoulda, got, david, car...",2009-04-06 22:19:45,2009,4,0,22:19:45,...,20-24,19,False,False,False,True,True,False,False,False
1,0,1467810672,scotthamilton,is upset that he can't update his Facebook by ...,"[upset, cant, update, facebook, texting, might...",2009-04-06 22:19:49,2009,4,0,22:19:49,...,20-24,21,True,True,False,False,False,False,False,False
2,0,1467810917,mattycus,@Kenichan I dived many times for the ball. Man...,"[dived, many, times, ball, managed, save, rest...",2009-04-06 22:19:53,2009,4,0,22:19:53,...,20-24,18,False,False,False,True,False,False,False,False
3,0,1467811184,ElleCTF,my whole body feels itchy and like its on fire,"[whole, body, feels, itchy, like, fire]",2009-04-06 22:19:57,2009,4,0,22:19:57,...,20-24,10,False,False,False,False,False,False,False,False
4,0,1467811193,Karoli,"@nationwideclass no, it's not behaving at all....","[behaving, im, mad, cant, see]",2009-04-06 22:19:57,2009,4,0,22:19:57,...,20-24,21,False,False,True,True,False,False,False,False

In [15]:
#nltk.download('wordnet')
wnlemm = nltk.WordNetLemmatizer() 

def lemmatizing(tokenized_text): #Function to lemmatize all words in our tokenized tweets list without stopwords
    text = [wnlemm.lemmatize(word) for word in tokenized_text] #Lemmatize each word in our tokenized list and write it into a new list
    return text

#Create new column with lemmatized tweets from our tokenized tweets without stopwords
data['tweet_tokenized'] = data['tweet_tokenized'].apply(lambda x: lemmatizing(x))
data.head()

,sentiment,id,user,tweet,tweet_tokenized,date,year,month,weekday,time,...,time_group,word_count,dot_dot_dot,exclamation_mark,question_mark,at_symbol,link,money,paragraph_symbol,hashtag
0,0,1467810369,_TheSpecialOne_,"@switchfoot http://twitpic.com/2y1zl - Awww, t...","[awww, thats, bummer, shoulda, got, david, car...",2009-04-06 22:19:45,2009,4,0,22:19:45,...,20-24,19,False,False,False,True,True,False,False,False
1,0,1467810672,scotthamilton,is upset that he can't update his Facebook by ...,"[upset, cant, update, facebook, texting, might...",2009-04-06 22:19:49,2009,4,0,22:19:49,...,20-24,21,True,True,False,False,False,False,False,False
2,0,1467810917,mattycus,@Kenichan I dived many times for the ball. Man...,"[dived, many, time, ball, managed, save, rest,...",2009-04-06 22:19:53,2009,4,0,22:19:53,...,20-24,18,False,False,False,True,False,False,False,False
3,0,1467811184,ElleCTF,my whole body feels itchy and like its on fire,"[whole, body, feel, itchy, like, fire]",2009-04-06 22:19:57,2009,4,0,22:19:57,...,20-24,10,False,False,False,False,False,False,False,False
4,0,1467811193,Karoli,"@nationwideclass no, it's not behaving at all....","[behaving, im, mad, cant, see]",2009-04-06 22:19:57,2009,4,0,22:19:57,...,20-24,21,False,False,True,True,False,False,False,False

Vectorization

Uni/Bigram

In [17]:
#N-gram vectorizing and tfidf need a list of strings passed to it, so we need to convert our list
data['tweet_tokenized_string'] = data['tweet_tokenized'].apply(lambda x: ' '.join(x)) #Join each word in our list with a space inbetween
data

,sentiment,id,user,tweet,tweet_tokenized,date,year,month,weekday,time,...,word_count,dot_dot_dot,exclamation_mark,question_mark,at_symbol,link,money,paragraph_symbol,hashtag,tweet_tokenized_string
0,0,1467810369,_TheSpecialOne_,"@switchfoot http://twitpic.com/2y1zl - Awww, t...","[awww, thats, bummer, shoulda, got, david, car...",2009-04-06 22:19:45,2009,4,0,22:19:45,...,19,False,False,False,True,True,False,False,False,awww thats bummer shoulda got david carr third...
1,0,1467810672,scotthamilton,is upset that he can't update his Facebook by ...,"[upset, cant, update, facebook, texting, might...",2009-04-06 22:19:49,2009,4,0,22:19:49,...,21,True,True,False,False,False,False,False,False,upset cant update facebook texting might cry r...
2,0,1467810917,mattycus,@Kenichan I dived many times for the ball. Man...,"[dived, many, time, ball, managed, save, rest,...",2009-04-06 22:19:53,2009,4,0,22:19:53,...,18,False,False,False,True,False,False,False,False,dived many time ball managed save rest go bound
3,0,1467811184,ElleCTF,my whole body feels itchy and like its on fire,"[whole, body, feel, itchy, like, fire]",2009-04-06 22:19:57,2009,4,0,22:19:57,...,10,False,False,False,False,False,False,False,False,whole body feel itchy like fire
4,0,1467811193,Karoli,"@nationwideclass no, it's not behaving at all....","[behaving, im, mad, cant, see]",2009-04-06 22:19:57,2009,4,0,22:19:57,...,21,False,False,True,True,False,False,False,False,behaving im mad cant see
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1599995,1,2193601966,AmandaMarie1028,Just woke up. Having no school is the best fee...,"[woke, school, best, feeling, ever]",2009-06-16 08:40:49,2009,6,1,08:40:49,...,11,False,False,False,False,False,False,False,False,woke school best feeling ever
1599996,1,2193601969,TheWDBoards,TheWDB.com - Very cool to hear old Walt interv...,"[thewdbcom, cool, hear, old, walt, interview, â]",2009-06-16 08:40:49,2009,6,1,08:40:49,...,11,False,True,False,False,True,False,False,False,thewdbcom cool hear old walt interview â
1599997,1,2193601991,bpbabe,Are you ready for your MoJo Makeover? Ask me f...,"[ready, mojo, makeover, ask, detail]",2009-06-16 08:40:49,2009,6,1,08:40:49,...,11,False,False,True,False,False,False,False,False,ready mojo makeover ask detail
1599998,1,2193602064,tinydiamondz,Happy 38th Birthday to my boo of alll time!!! ...,"[happy, th, birthday, boo, alll, time, tupac, ...",2009-06-16 08:40:49,2009,6,1,08:40:49,...,12,False,True,False,False,False,False,False,False,happy th birthday boo alll time tupac amaru sh...
1599999,1,2193602129,RyanTrevMorris,happy #charitytuesday @theNSPCC @SparksCharity...,[happy],2009-06-16 08:40:50,2009,6,1,08:40:50,...,5,False,False,False,True,False,False,False,True,happy

In [27]:
words = pd.DataFrame(data.tweet_tokenized_string.str.split(expand=True).stack().value_counts()).reset_index()
words.rename(columns={'index': 'word', 0: 'count'}, inplace=True)

In [28]:
words

              word   count
0               im  177514
1              day  104002
2             good   89478
3              get   85930
4             like   79094
...            ...     ...
408938      jimena       1
408939   funlicous       1
408940  beingohand       1
408941  ustreamive       1
408942   thewdbcom       1

[408943 rows x 2 columns]

In [42]:
words_to_split = words[words['count'] == 1]
words_to_split

               word  count
121958       jihoon      1
121959      kroeger      1
121960    hsaushhua      1
121961  sashaplease      1
121962     testwhat      1
...             ...    ...
408938       jimena      1
408939    funlicous      1
408940   beingohand      1
408941   ustreamive      1
408942    thewdbcom      1

[286985 rows x 2 columns]

In [43]:
words_to_split_list = words_to_split['word'].tolist()
words_to_split_list

['jihoon',
 'kroeger',
 'hsaushhua',
 'sashaplease',
 'testwhat',
 'spockvoice',
 'accountgt',
 'chaoo',
 'loversxoxo',
 'iswellill',
 'drugspff',
 'janellie',
 'beckkyy',
 'shephertonguestickingoutcheekyplayfulorblowingaraspberry',
 'wemashvillecom',
 'aletha',
 'projectcreateasmile',
 'tokboxlandia',
 'lauraquot',
 'shootno',
 'quotwhatd',
 'lengthumm',
 'davidme',
 'fathomly',
 'gooberquot',
 'salledasmariï½as',
 'headachethank',
 'bluegrassamp',
 'parez',
 'zaaaa',
 'thatamazing',
 'richardï½',
 'holidayits',
 'amptake',
 'yawwwwwnhello',
 'edic',
 'milsom',
 'azis',
 'freakyliterally',
 'promiseone',
 'jemur',
 'companyonly',
 'doinggt',
 'willawong',
 'foofy',
 'sickdoh',
 'brightsidequot',
 'karpet',
 'ofrelaxation',
 'weirdfun',
 'shemo',
 'mariachinin',
 'cupcakey',
 'ichess',
 'dumdumnl',
 'goodgite',
 'socasat',
 'cavswin',
 'poblano',
 'susyn',
 'candyshopquot',
 'cuuuze',
 'coralene',
 'apartmentturned',
 'eveningthanks',
 'allkinds',
 'nowhahahilarious',
 'mrty',
 'tooweirdness',
 'wootalmost',
 'bahhhhhmb',
 'everyboody',
 'raveee',
 'auzzy',
 'whnet',
 'servina',
 'everyonecall',
 'wikiproject',
 'mostnights',
 'papajohns',
 'midnightif',
 'kitzhaber',
 'whooooooooooooa',
 'rememberthat',
 'tiredmust',
 'ï½eat',
 'unconferences',
 'quotbonemans',
 'queda',
 'splitsecond',
 'bityes',
 'doglovin',
 'gnache',
 'igggnant',
 'ltstjimmyismyherogt',
 'opcorse',
 'huma',
 'bagonly',
 'viewsratingscomments',
 'ibuibu',
 'ellllllllllllllllllliot',
 'maanu',
 'blipquot',
 'eeeeklaughingbiggrinorlaughwithglasses',
 'klukaquot',
 'listos',
 'ohhmygoshhhh',
 'awesomeam',
 'portfoliosreels',
 'timetired',
 'eeiii',
 'dimploma',
 'ssurprisedooo',
 'worldmark',
 'kidslolno',
 'playoffsso',
 'hypehad',
 'tinysongcom',
 'unpackingthis',
 'albumdipset',
 'syoerbad',
 'stronks',
 'woooohhhoooo',
 'hurred',
 'babysittingwow',
 'notactualtimechecks',
 'calleds',
 'pigmentsyeah',
 'cutelookin',
 'mamahush',
 'ogc',
 'wooooooowwwoooooooo',
 'mikyrobylallaampcaro',
 'typsi',
 'playerspossibly',
 'legendit',
 'quotappquot',
 'photoshhot',
 'crsuh',
 'moresealedlipsorwearingbracesortonguetied',
 'eyeoh',
 'thingjonthink',
 'yayayyayayayayaayy',
 'thepioneerwomancom',
 'therock',
 'wstocktwits',
 'pronouce',
 'quotoohrovisionquot',
 'truewill',
 'nahthe',
 'tweetertotterquot',
 'quotshift',
 'sooonic',
 'thoughtime',
 'minaret',
 'mondayslet',
 'publiity',
 'recomendogtgtgt',
 'hophop',
 'colorstrap',
 'rigggghtt',
 'planpass',
 'bigfishgamecom',
 'tweetertotter',
 'fluhn',
 'slizzardfeelin',
 'probre',
 'nightbored',
 'freethinking',
 'taqaod',
 'clevelandorlando',
 'quotarrow',
 'condenser',
 'helpor',
 'vegaasss',
 'rupanyachelsea',
 'frappaccino',
 'sosweetitmakesyouache',
 'beatmagic',
 'emoooo',
 'feelinsquot',
 'wfui',
 'owwhhahasinetron',
 'hottubmiss',
 'mikegame',
 'remixxxes',
 'moomie',
 'sheepeads',
 'sportsbook',
 'finaleahhhlol',
 'quotahhhhaaaquot',
 'syncy',
 'ayegi',
 'thanksbroken',
 'valjean',
 'jaaa',
 'eurjpy',
 'tokeep',
 'eugeneits',
 'majiclt',
 'quotkanyequot',
 'lakersamp',
 'themvery',
 'quotunan',
 'makeupvery',
 'hugsshe',
 'sororitylmao',
 'boobpound',
 'kumotquot',
 'beraber',
 'treach',
 'sayhold',
 'outtaking',
 'imaginethey',
 'morningfranchise',
 'migoren',
 'easyturtlerecipe',
 'jellywhatever',
 'ugoslov',
 'chezzy',
 'napavino',
 'foulcertainly',
 'tiburon',
 'meetinglate',
 'volleyballthanks',
 'funnyguyaustin',
 'championshipand',
 'excaliburrr',
 'fiiiiiiiiiiiiiiinally',
 'hahago',
 'boooyahh',
 'quotmoverquot',
 'andrina',
 'canceltake',
 'snagging',
 'shucksmy',
 'awsuum',
 'danampserena',
 'mothersdaymother',
 'bbtrans',
 'spanishbut',
 'rosis',
 'omgitsdamien',
 'burnsmall',
 'cardioid',
 'whig',
 'informacoes',
 'recognizedyou',
 'ginniejean',
 'nallys',
 'lucino',
 'kindareally',
 'menyokong',
 'heroesquotsome',
 'jnichs',
 'geris',
 'ahila',
 'gameproim',
 'nytiefound',
 'neeeennaaa',
 'steffens',
 'tekenen',
 'grandeza',
 'kickind',
 'yeyaaaaaaa',
 'goodbaby',
 'tamila',
 'survivedmyfirstprofessionalyearofwork',
 'quotmusician',
 'robys',
 'quotroadquot',
 'yeleni',
 'rollstatus',
 'trowdown',
 'athan',
 'couchhow',
 'sheronaquot',
 'nearceller',
 'goplol',
 'yeni',
 'onf',
 'friench',
 'duggan',
 'meggers',
 'isphil',
 'gsusliking',
 'feettake',
 'hesse',
 'repetetive',
 'acessem',
 'quotned',
 'storagebandwidth',
 'primeminister',
 'fatcow',
 'mwuahh',
 'cleaningsteaming',
 'tweetsvery',
 'heplme',
 'sameezy',
 'kampanyasi',
 'quotbwoquot',
 'heeeyyyylemme',
 'friendswere',
 'outhaha',
 'refugio',
 'posttunnel',
 'citiies',
 'wackiness',
 'heheketinggalantah',
 'turquoisequot',
 'seeyeshere',
 'hellllaaaa',
 'buttsmack',
 'shalawam',
 'quotgoooooooood',
 'generale',
 'quotturned',
 'mocie',
 'kaathaala',
 'plaesure',
 'gallitzin',
 'clora',
 'theewood',
 'cultureheritage',
 'upskepticalannoyedundecideduneasyorhesitantoved',
 'jangueando',
 'dogbreeze',
 'emailnever',
 'adichathu',
 'jhewfhweohfcawcewafc',
 'marjoleine',
 'quothometown',
 'abcdefghij',
 'amyrah',
 'peopleenjoy',
 'fricckkeennn',
 'jaminn',
 'lowla',
 'solenoidquot',
 'perfectlyy',
 'capacityquotits',
 'wmonsters',
 'gottabesomebody',
 'grrreeeaaat',
 'hotbtw',
 'shapedquot',
 'iowaay',
 'oktheyr',
 'spanishyou',
 'ampthenn',
 'cousinrishee',
 'hearttwice',
 'awesomethks',
 'neccessities',
 'indifferencequot',
 'ï½greedï½',
 'unsalty',
 'minicd',
 'natalyn',
 'awkwardinappropriateness',
 'quotugh',
 'rethanks',
 'backboothorlandonew',
 'pythonrollercoasterride',
 'kelsipoodle',
 'studiesmen',
 'morninggoes',
 'stuffitis',
 'shamini',
 'bullseyes',
 'aubine',
 'cherups',
 'breaksdoes',
 'aristocrat',
 'sooutofdate',
 'bledels',
 'anchoragequot',
 'sbends',
 'foli',
 'carbuying',
 'dibster',
 'joro',
 'lyfff',
 'startedso',
 'thingyay',
 'talkinabout',
 'ileagly',
 'webtop',
 'bahstan',
 'davideesh',
 'fttq',
 'counterfollow',
 'inette',
 'boloxihahabouta',
 'howardsyall',
 'raanana',
 'niang',
 'babyd',
 'joshwar',
 'dragbut',
 'crashhad',
 'heterolifematelove',
 'obbbssed',
 'wmns',
 'tomorrowtxt',
 'spacewalker',
 'adieugod',
 'portobella',
 'villainessnet',
 'bwaahahahaha',
 'headcrash',
 'camua',
 'loveies',
 'mlbo',
 'nightzzz',
 'grumpygirl',
 'sexytimes',
 'quotpayback',
 'maltav',
 'maffus',
 'jonasjune',
 'comsenna',
 'quotaorquot',
 'quotenthusiastic',
 'scusi',
 'gautengersam',
 'signrobert',
 'sweetiesee',
 'danette',
 'muchowhere',
 'drlove',
 'weekendvacation',
 'lynzigama',
 'shortthats',
 'ashaa',
 'ukeunderground',
 'homebrowsing',
 'echolls',
 'happnend',
 'liketake',
 'thenall',
 'dinnerall',
 'clonecloutonguestickingoutcheekyplayfulorblowingaraspberry',
 'quotmandatory',
 'againaha',
 'celectrate',
 'raeven',
 'aheadfor',
 'mudwrestled',
 'jikes',
 'boobapalooza',
 'persisleft',
 'ninjatized',
 'twinkielasher',
 'chewi',
 'huslt',
 'videohits',
 'gottmilkkk',
 'ecommunication',
 'sailorwhat',
 'tambhram',
 'pretttyyyyyyy',
 'theththtime',
 'londass',
 'topno',
 'fastholy',
 'eftelingfun',
 'vidssweaty',
 'danggggi',
 'poppedlol',
 'jennnnnn',
 'elvins',
 'quotschmitts',
 'rolljust',
 'deuchebags',
 'margaritasquot',
 'maksutnya',
 'ltpennie',
 'stormshail',
 'funsince',
 'cdj',
 'mchothots',
 'eurocontest',
 'cartoonized',
 'ampsince',
 'crashini',
 'mkhang',
 'garson',
 'answerif',
 'dewight',
 'masisisi',
 'tomorrowyeah',
 'awhiletheyre',
 'twitterheadsso',
 'apartmentit',
 'lightermaybe',
 'mediumlight',
 'hitttttting',
 'iheartyou',
 'fauxlatin',
 'andswere',
 'radvery',
 'yesspainting',
 'rosenfeld',
 'quotwinkorsmirkontquot',
 'sacampco',
 'windtoo',
 'blanchetts',
 'alsocongrats',
 'ltwink',
 'omigash',
 'albummcluv',
 'quotcongratulationsquot',
 'steaky',
 'allmothers',
 'cooould',
 'graduationpomp',
 'uberunhealthybutlovingit',
 'workahhh',
 'radest',
 'craptacula',
 'dinnerimagine',
 'hellmaybe',
 'heyyyheres',
 'jamup',
 'smartier',
 'castequot',
 'quotsupporting',
 'brambleberry',
 'staceampsommer',
 'weakquot',
 'netroots',
 'scriptgirl',
 'commentso',
 'tomorrowblast',
 'jealousenvious',
 'smithsoanian',
 'gooballs',
 'supportim',
 'heycaleb',
 'ghostsamp',
 'brownieswiththefamily',
 'triviagreat',
 'hammerquot',
 'chhip',
 'thingdu',
 'openelectrolytecommunity',
 'plasticville',
 'durrin',
 'sagitarioussp',
 'strayquot',
 'sulli',
 'saelina',
 'okwhatever',
 'magfestty',
 'fromahem',
 'scientia',
 'studes',
 'msngonna',
 'twitterblackberry',
 'theyllquotstudy',
 'retzlaff',
 'esquilin',
 'tweeterhoes',
 'babiesfamiliespets',
 'pullled',
 'prosers',
 'babyabout',
 'latahhh',
 'guurlz',
 'moniquee',
 'nopraying',
 'scheuble',
 'sportn',
 'heyvote',
 'hehehs',
 'ccongrats',
 'sighmkay',
 'luvi',
 'mwahahhahhaha',
 'muahhzzzz',
 'inbreed',
 'impresion',
 'ohmygoshhollywoods',
 'ramey',
 'qlaughingbiggrinorlaughwithglasses',
 'winninggggg',
 'orcontinueyeh',
 'anywaysyay',
 'twittercommonicafrancesca',
 'shelllieeee',
 'dreme',
 'translationsure',
 'companypls',
 'whatdid',
 'yepwow',
 'friendampi',
 'latelysorry',
 'durrtay',
 'rambutnya',
 'noninfectious',
 'ohup',
 'diddlyand',
 'stuyvesant',
 'nastys',
 'girst',
 'shitso',
 'breezyy',
 'kreysi',
 'skillzwe',
 'camisole',
 'wmnquotso',
 'quotregaliaquot',
 'biscottis',
 'katiealanaand',
 'toteit',
 'continu',
 'ï½stupidityï½',
 'suckinggg',
 'zerlene',
 'spesky',
 'futileespecially',
 'hedburg',
 'carsor',
 'pooltable',
 'certificatesm',
 'weeexd',
 'hungrygetting',
 'luvvvs',
 'skillettt',
 'metioned',
 'alladin',
 'gural',
 'stonefave',
 'furrealz',
 'herelearned',
 'answ',
 'groundhear',
 'carejacob',
 'questionsamprevision',
 'nowen',
 'shoveled',
 'ancestrycom',
 'preguiï½a',
 'sleeeepbuenas',
 'minieclares',
 'mothersand',
 'ï½itï½s',
 'flashlighti',
 'myrick',
 'quicklyoh',
 'rotton',
 'dhmmm',
 'unessentialï½',
 'yourselfffffffffffffff',
 'tweetersy',
 'goodsoil',
 'qanqster',
 'juiiice',
 'chiiill',
 'saynite',
 'javac',
 'momgood',
 'outsideeeee',
 'ccom',
 'recoverythanks',
 'fiiiiine',
 'latelymy',
 'nicemandarincom',
 'whahhevr',
 'dagjus',
 'quotjapanese',
 'jacee',
 'quotkarmaquot',
 'yeahhhhooooooo',
 'vedddyy',
 'soontobes',
 'kakus',
 'quotfranznequot',
 'fcpmacbook',
 'xosss',
 'jammmbba',
 'goodmorrning',
 'exlusively',
 'tomorrowsuppose',
 'yeahgive',
 'mallus',
 'facebookmyspace',
 'lifetimeyah',
 'wiseguy',
 'twittttty',
 'wholeworld',
 'missywait',
 'natunawan',
 'lollucky',
 'escandalo',
 'neurï½ticas',
 'ilum',
 'pipetas',
 'chillaxinwatch',
 'shooten',
 'smirky',
 'huhwell',
 'weeey',
 'tweetingcant',
 'trailerahhhhhhhhhh',
 'quotknifegangfightquot',
 'measap',
 'berkeleyamp',
 'wasnst',
 'appreciateu',
 'seattlenot',
 'grrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrjealousi',
 'woek',
 'heheï½i',
 'rcand',
 'bathtubpiracycom',
 'sapakamu',
 'afterwardswe',
 'ambuklao',
 'kitra',
 'microgrant',
 'findmaybe',
 'guapisimo',
 'quotassume',
 'melllls',
 'evryall',
 'datei',
 'jaelah',
 'eepybird',
 'parmud',
 'groggily',
 'beachgo',
 'underworldgo',
 'msbee',
 'dowwwnnn',
 'imagefeels',
 'twiiterlove',
 'suenen',
 'funnelcake',
 'smilepatrick',
 'momentokaynow',
 'ghriadelli',
 'physicsferriswheel',
 'overrwanna',
 'dmshit',
 'quotiplayherequot',
 'timesxxx',
 'yeppersid',
 'nightshower',
 'fbd',
 'sidewayswow',
 'sadorcryings',
 'shoco',
 'mcsmoothies',
 'facesz',
 'larabie',
 'heyyyyyhow',
 'frownsadandryorpoutinghuckles',
 'dudeawesome',
 'relayugh',
 'tristeza',
 'retreatgot',
 'hmmmmmmthinking',
 'ahhwwww',
 'jaro',
 'popgasm',
 'laterhow',
 'puppyany',
 'imacby',
 'checkimg',
 'gonebeing',
 'sopranostheres',
 'ocma',
 'echipa',
 'birthdayhaha',
 'boyfriendsquot',
 'quotinterlude',
 'koutour',
 'imor',
 'quotbulk',
 'artcraft',
 'raviolithats',
 'corylanerï½',
 'toomayb',
 'lootwise',
 'energetics',
 'psanchez',
 'wishbo',
 'harpors',
 'tomarrrrow',
 'alyssssalt',
 'dancegoing',
 'snf',
 'shortskirtwearing',
 'cfscript',
 'makaaaan',
 'dinkin',
 'graw',
 'quotcorpse',
 'rvm',
 'pursespopular',
 'likedesigner',
 'jokesso',
 'failled',
 'ytechno',
 'umaw',
 'pageshe',
 'lambastes',
 'woooooooooooooh',
 'redislocated',
 'kuff',
 'mistos',
 'asthongood',
 'dungeonset',
 'pplnot',
 'hotei',
 'bevycoins',
 'lissum',
 'texasmiami',
 'bdaygetting',
 'eitherthis',
 'franfranshe',
 'chicagoy',
 'applethat',
 'ladelmmmm',
 'girliesim',
 'autopopulated',
 'boyfriendawesome',
 'belhblehbleh',
 'preocupied',
 'imsuper',
 'quotnyahnyah',
 'fanexcept',
 'franciscoca',
 'gunsnroses',
 'skynyrds',
 'pictureseven',
 'jazzybluesy',
 'youuhere',
 'graws',
 'famgod',
 'cheesesteaksend',
 'wonu',
 'wordstopics',
 'nowlaughed',
 'wendst',
 'merlis',
 'rebelitest',
 'herest',
 'ahshaus',
 'yeheyy',
 'zipz',
 'tylerhappy',
 'umbrellayu',
 'hotyan',
 'wanaim',
 'macntalk',
 'wannahavefun',
 'wordpressland',
 'pageez',
 'nsyncs',
 'daddyb',
 'alagria',
 'kandice',
 'daaayyyy',
 'falpjacks',
 'gauss',
 'sydneyit',
 'allgnite',
 'andreoli',
 'renzs',
 'showfrankie',
 'quotvirtuallyquot',
 'quotanswerquot',
 'usuallife',
 'myselfhelp',
 'pearlyns',
 'jotas',
 'werickzamprigobertoo',
 'kristines',
 'soreso',
 'yeppppp',
 'instand',
 'hoursif',
 'raaaiin',
 'sharlene',
 'sonatanot',
 'armsthe',
 'boopboopboop',
 'bulldogswearing',
 'bysouth',
 'tvhds',
 'coolangatta',
 'hespera',
 'thoughu',
 'eehe',
 'parli',
 'buhlers',
 'tortillini',
 'rangersbiased',
 'reeed',
 'healthalicious',
 'lexey',
 'policemanquot',
 'ehir',
 'yï½zdï½rdï½ï½',
 'pyschic',
 'timsah',
 'bwym',
 'idkidkdidk',
 'asiï½de',
 'drivelike',
 'firstlt',
 'halitï½in',
 'worldofwarcraft',
 'houstonback',
 'ooohhhbusiness',
 'yesteraystill',
 'slooowamp',
 'uriquot',
 'chatzyy',
 'quotcheescakequot',
 'awsmee',
 'tamhis',
 'blatesss',
 'ontourage',
 'predicate',
 'kakilalang',
 'messagesfans',
 'sentencei',
 'costelloo',
 'shinoh',
 'soaper',
 'tutulog',
 'classlucky',
 'reeeed',
 'changesready',
 'heardit',
 'bubblygo',
 'ampjoshb',
 'baaag',
 'itcomp',
 'storminggg',
 'hinterland',
 'laceyooopoooplt',
 'harnessing',
 'firedepo',
 'jacquisha',
 'shemen',
 'banz',
 'membersbono',
 'journeydont',
 'coolinstead',
 'magtweet',
 'unfried',
 'swrlt',
 'mouthjust',
 'nikeplus',
 'kachori',
 'selftanners',
 'antakya',
 'refik',
 'nzc',
 'qwaiiiiszzzzzz',
 'caytee',
 'dhumchik',
 'themebreakfast',
 'tomelet',
 'sotaboyscom',
 'bestester',
 'howardsorry',
 'indianbhangra',
 'caries',
 'yahut',
 'hindivision',
 'antidalila',
 'bharia',
 'bollywoodvision',
 'thugfootball',
 'anthonygreenlt',
 'oppaplease',
 'caaaaass',
 'nakumadaya',
 'fonez',
 'quotenemy',
 'chiiilllling',
 'gratefulaboutourlives',
 'patsyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyy',
 'amisha',
 'shoutsgood',
 'hangalang',
 'butyeahwhere',
 'iiiiiiiiiiiiimmmmmmmmm',
 'twitterwhoreking',
 'jealoussnot',
 'gorgeousdaddys',
 'epictook',
 'followeing',
 'kidventure',
 ...]

In [ ]:
data['tweet_tokenized_string_test'] =  data['tweet_tokenized_string'].apply(lambda x: ' '.join([word for word in x.split() if word not in (words_to_split_list)])) 
data['tweet_tokenized_string_test']

In [ ]:
pattern = r'\b(' + '|'.join(words_to_split_list) + r')\b'
data['tweet_tokenized_string_test'] = data['tweet_tokenized_string'].str.replace(pattern, '', regex=True)

In [ ]:
data['tweet_tokenized_string_test'] = data['tweet_tokenized_string_test'].str.replace('  ', ' ')

In [44]:
x = 'this is a test'
y = x.split()
y

['this', 'is', 'a', 'test']

In [ ]:
data['tweet_tokenized'] = data['tweet_tokenized'].apply(lambda x: re.sub(url_pattern_2, '', x))

In [ ]:
#%pip install wordninja

In [ ]:
import wordninja

In [ ]:
wordninja.split('sashaplease')

In [34]:
words_to_split['words_splitted'] = words_to_split['word'].apply(lambda x: wordninja.split(x))
words_to_split.head(20)

C:\Users\Dave\AppData\Local\Temp\ipykernel_25776\1555256983.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  words_to_split['words_splitted'] = words_to_split['word'].apply(lambda x: wordninja.split(x))

                     word  count                    words_splitted
51656          clientquot      4                  [client, quo, t]
51657             nothinn      4                       [nothin, n]
51658             foulest      4                         [foulest]
51659        interception      4                    [interception]
51660   morganampjudybffs      4       [morgan, amp, judy, b, ffs]
51661             cofffee      4                     [c, off, fee]
51662               towny      4                         [town, y]
51663              dolces      4                        [dolce, s]
51664            mongoose      4                        [mongoose]
51665    quotsomebodyquot      4        [quo, t, somebody, quo, t]
51666            greaattt      4                  [gre, a, a, ttt]
51667                seja      4                        [se, j, a]
51668         irregularly      4                     [irregularly]
51669               sunni      4                           [sunni]
51670               pehle      4                         [peh, le]
51671               anywa      4                         [any, wa]
51672  awwwwwwwwwwwwwwwww      4  [a, www, www, www, www, www, ww]
51673             sarkozy      4                         [sarkozy]
51674  internetconnection      4            [internet, connection]
51675             malapit      4                       [mala, pit]

In [ ]:
#Wenn wir wollen, können wir diese Tweets alle herausfiltern (Dafür einfach das False in True umwandeln)
data = data[data['tweet_tokenized_string'].str.contains('[a-zA-Z]')==True]

In [ ]:
data

,sentiment,id,user,tweet,tweet_tokenized,date,year,month,weekday,time,...,word_count,dot_dot_dot,exclamation_mark,question_mark,at_symbol,link,money,paragraph_symbol,hashtag,tweet_tokenized_string
0,0,1467810369,_TheSpecialOne_,"@switchfoot http://twitpic.com/2y1zl - Awww, t...","[awww, thats, bummer, shoulda, got, david, car...",2009-04-06 22:19:45,2009,4,0,22:19:45,...,19,False,False,False,True,True,False,False,False,awww thats bummer shoulda got david carr third...
1,0,1467810672,scotthamilton,is upset that he can't update his Facebook by ...,"[upset, cant, update, facebook, texting, might...",2009-04-06 22:19:49,2009,4,0,22:19:49,...,21,True,True,False,False,False,False,False,False,upset cant update facebook texting might cry r...
2,0,1467810917,mattycus,@Kenichan I dived many times for the ball. Man...,"[dived, many, time, ball, managed, save, rest,...",2009-04-06 22:19:53,2009,4,0,22:19:53,...,18,False,False,False,True,False,False,False,False,dived many time ball managed save rest go bound
3,0,1467811184,ElleCTF,my whole body feels itchy and like its on fire,"[whole, body, feel, itchy, like, fire]",2009-04-06 22:19:57,2009,4,0,22:19:57,...,10,False,False,False,False,False,False,False,False,whole body feel itchy like fire
4,0,1467811193,Karoli,"@nationwideclass no, it's not behaving at all....","[behaving, im, mad, cant, see]",2009-04-06 22:19:57,2009,4,0,22:19:57,...,21,False,False,True,True,False,False,False,False,behaving im mad cant see
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1599995,1,2193601966,AmandaMarie1028,Just woke up. Having no school is the best fee...,"[woke, school, best, feeling, ever]",2009-06-16 08:40:49,2009,6,1,08:40:49,...,11,False,False,False,False,False,False,False,False,woke school best feeling ever
1599996,1,2193601969,TheWDBoards,TheWDB.com - Very cool to hear old Walt interv...,"[thewdbcom, cool, hear, old, walt, interview, â]",2009-06-16 08:40:49,2009,6,1,08:40:49,...,11,False,True,False,False,True,False,False,False,thewdbcom cool hear old walt interview â
1599997,1,2193601991,bpbabe,Are you ready for your MoJo Makeover? Ask me f...,"[ready, mojo, makeover, ask, detail]",2009-06-16 08:40:49,2009,6,1,08:40:49,...,11,False,False,True,False,False,False,False,False,ready mojo makeover ask detail
1599998,1,2193602064,tinydiamondz,Happy 38th Birthday to my boo of alll time!!! ...,"[happy, th, birthday, boo, alll, time, tupac, ...",2009-06-16 08:40:49,2009,6,1,08:40:49,...,12,False,True,False,False,False,False,False,False,happy th birthday boo alll time tupac amaru sh...
1599999,1,2193602129,RyanTrevMorris,happy #charitytuesday @theNSPCC @SparksCharity...,[happy],2009-06-16 08:40:50,2009,6,1,08:40:50,...,5,False,False,False,True,False,False,False,True,happy

In [ ]:
from sklearn.feature_extraction.text import CountVectorizer

ngram_vect = CountVectorizer(ngram_range=(1,2)) #Create a vectorizer that creates unigrams and bigrams from our tweets
ngram_matrix = ngram_vect.fit_transform(data['tweet_tokenized_string']) #Create a matrix with the counts of each unigram and bigram in each tweet
print(ngram_matrix.shape) #Print the shape of the matrix

(1591678, 4351234)

In [ ]:
ngram_matrix

<1591678x4351234 sparse matrix of type '<class 'numpy.int64'>'
	with 20297362 stored elements in Compressed Sparse Row format>

In [ ]:
#Look at a sample of the created ngram matrix to see how it looks like
ngram_matrix_sample = ngram_matrix[:10, :10]
feature_names = ngram_vect.get_feature_names_out()[:10]
ngram_matrix_sample = ngram_matrix_sample.toarray()
ngram_matrix_sample_df = pd.DataFrame(ngram_matrix_sample, columns=feature_names)
print(ngram_matrix_sample_df)

   aa  aa alih  aa allstars  aa already  aa amp  aa amvs  aa angrezo  \
0   0        0            0           0       0        0           0
1   0        0            0           0       0        0           0
2   0        0            0           0       0        0           0
3   0        0            0           0       0        0           0
4   0        0            0           0       0        0           0
5   0        0            0           0       0        0           0
6   0        0            0           0       0        0           0
7   0        0            0           0       0        0           0
8   0        0            0           0       0        0           0
9   0        0            0           0       0        0           0

   aa arrive  aa ba  aa bachelor
0          0      0            0
1          0      0            0
2          0      0            0
3          0      0            0
4          0      0            0
5          0      0            0
6          0      0            0
7          0      0            0
8          0      0            0
9          0      0            0

In [ ]:
print(ngram_vect.get_feature_names_out()) #Print the names of the unigrams and bigrams

['aa' 'aa alih' 'aa allstars' ... 'úû ø³øùù' 'ûø' 'ûø øû']

Man müsste mal schauen ob die verschiedenen vectorizing Ansätze direkt in ne Pipeline eingebaut werden damit man die einfach vergleichen kann. Ansonsten muss man hier dann die Features aus unserem Datensatz an die Matrix joinen oder andersrum.

Tfidf

In [ ]:
from sklearn.feature_extraction.text import TfidfVectorizer

tfidf_vect = TfidfVectorizer() #Create a vectorizer that weighs the count of each token by its frequency in the dataset
tfidf_matrix = tfidf_vect.fit_transform(data['tweet_tokenized_string']) #Create a matrix with the tfidf score of each token in each tweet
print(tfidf_matrix.shape)
print(tfidf_vect.get_feature_names_out())

(1591678, 407478)
['aa' 'aaa' 'aaaa' ... 'úùøªù' 'úû' 'ûø']

In [ ]:
#Look at a sample of the created tdidf matrix to see how it looks like
tfidf_matrix_sample = tfidf_matrix[:10, :10]
feature_names = tfidf_vect.get_feature_names_out()[:10]
tfidf_matrix_sample = tfidf_matrix_sample.toarray()
tfidf_matrix_sample_df = pd.DataFrame(tfidf_matrix_sample, columns=feature_names)
print(tfidf_matrix_sample_df)

    aa  aaa  aaaa  aaaaa  aaaaaa  aaaaaaa  aaaaaaaa  aaaaaaaaa  aaaaaaaaaa  \
0  0.0  0.0   0.0    0.0     0.0      0.0       0.0        0.0         0.0
1  0.0  0.0   0.0    0.0     0.0      0.0       0.0        0.0         0.0
2  0.0  0.0   0.0    0.0     0.0      0.0       0.0        0.0         0.0
3  0.0  0.0   0.0    0.0     0.0      0.0       0.0        0.0         0.0
4  0.0  0.0   0.0    0.0     0.0      0.0       0.0        0.0         0.0
5  0.0  0.0   0.0    0.0     0.0      0.0       0.0        0.0         0.0
6  0.0  0.0   0.0    0.0     0.0      0.0       0.0        0.0         0.0
7  0.0  0.0   0.0    0.0     0.0      0.0       0.0        0.0         0.0
8  0.0  0.0   0.0    0.0     0.0      0.0       0.0        0.0         0.0
9  0.0  0.0   0.0    0.0     0.0      0.0       0.0        0.0         0.0

   aaaaaaaaaaa
0          0.0
1          0.0
2          0.0
3          0.0
4          0.0
5          0.0
6          0.0
7          0.0
8          0.0
9          0.0